%full {
  width: 100%;
  height: 100%;
}

.main {
  @extend %full;
  position: relative;

  > div {
    float: left;
  }

  &:last-child:after {
    content: '';
    float: none;
    clear: both;
  }
}

.tetris {
  @extend %full;
  overflow: hidden;
}

.slash {
  @extend %full;
}

.axisX,
.axisY {
  @extend %full;
  top: 0;
  left: 0;
  position: absolute;
}
