%full {
  width: 100%;
  height: 100%;
}

.main {
  @extend %full;
  position: relative;
}

.tetris {
  @extend %full;
  overflow: hidden;
}

.slash {
  @extend %full;
}

.axisX,
.axisY {
  @extend %full;
  top: 0;
  left: 0;
  position: absolute;
}
