@font-face {
  font-family: 'Astronaut-III';
  src: url('./font/astronaut-webfont.woff') format('woff'),
  url('./font/astronaut-webfont.woff2') format('woff2'),
  url('./font/astronaut-webfont.svg#Astronaut-III') format('svg'),
  url('./font/astronaut-webfont.eot'),
  url('./font/astronaut-webfont.eot?#iefix') format('embedded-opentype');
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
}

.progress {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -3em;
  height: 6rem;
  text-align: center;
}

.digit {
  font-family: 'Astronaut-III', monospace;
  display: inline-block;
  width: 3rem;
  font-size: 6rem;
  line-height: 6rem;
  color: hsl(190, 100, 90);
}
